@{
    ViewData["Title"] = "تایید ایمیل";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>ایمیل</h2>
        <ol class="breadcrumb">
            <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> پیشخوان</a></li>
            <li class="active"><strong>@ViewData["Title"]</strong></li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2>@ViewData["Title"]</h2>
                </div>
                <div class="ibox-content">
                    <p>
                        <span class="text-success">ایمیل شما با موفقیت تایید شد </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


