@{
    ViewData["Title"] = "محدود شدن اکانت";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">کاربر گرامی به دلیل تکرار در ورود شناسه کاربری و رمز عبور اشتباه بیش از حد مجاز اکانت کاربری شما برای مدت کوتاهی محدود شده است. لطفا چند دقیقه دیگر تلاش کنید.</p>
</header>
