<div class="pb-1 bg-light" id="forms-03">
    <div class="container">
    </div>
    <hr />
    <div class="col-lg-6 col-md-12 text-secondary text-lg-right">
        <p class="pb-1">&copy; همراه بینا.</p>
    </div>
</div>
