@using Microsoft.AspNetCore.Identity

@inject SignInManager<HamrahBina.Models.Entities.ApplicationUser> SignInManager
@inject UserManager<HamrahBina.Models.Entities.ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>همراه بینا</title>
    <base href="~/" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/plugins/bootstrap-rtl/bootstrap-rtl.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/animate.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    <link href="~/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/content/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="~/content/plugins/select2New/select2.min.css" rel="stylesheet" />
    @*<link href="~/MetisforHavij/metisMenu.css" rel="stylesheet" />*@
    @*<link href="~/content/plugins/metisMenu3/metisMenu.min.css" rel="stylesheet" />*@
    @*<link href="~/content/plugins/metisMenu3/mm-vertical-hover.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/metismenu/dist/metisMenu.min.css">
    <script src="~/scripts/jquery-1.12.4.min.js"></script>

</head>
<body class="rtls">
    @if (User.Identity.IsAuthenticated)
    {
        <div id="wrapper">
            <partial name="_CookieConsentPartial" />
            <partial name="_Navigation" />
            <div id="page-wrapper" class="gray-bg">
                <partial name="_TopNavbar" />
                @RenderBody()
                <partial name="_Footer" />
            </div>
        </div>
    }
    else
    {
        <div class="top-navigation">
            <div id="wrapper">
                <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">
                    @RenderBody()
                    <partial name="_Footer" />
                </div>
            </div>
        </div>
    }
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    @*<script src="~/Scripts/plugins/metisMenu/metisMenu.min.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/metismenu"></script>
    <script src="~/Scripts/plugins/pace/pace.min.js"></script>
    <script src="~/Scripts/app/inspinia.js"></script>
    <script src="~/scripts/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/scripts/plugins/select2New/select2.full.min.js"></script>
    <script src="~/scripts/plugins/select2New/fa.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>